<div class="footer">
  <%= link_to '', 'https://www.linkedin.com/in/johnhaus', class: "fab fa-linkedin fa-2x footer-padding" %>
  <%= link_to '', 'https://github.com/johnhaus', class: "fab fa-github fa-2x footer-padding" %>
</div>
