  <!--HamBurger Icon-->
  <div class="bars" id="nav-action">
    <span class="bar"> </span>
  </div>
  <div class="top-navbar-background">
    <h2><%= link_to "John Haus - Full Stack Web Developer", "index.html" %></h2>
  </div>
  <!--Navbar Links-->
  <nav id="nav">
    <ul>
      <li class="shape-circle circle-one"><%= link_to "Contact", "contact.html" %></li>
      <li class="shape-circle circle-two"><%= link_to "About", "about.html" %></li>
      <li class="shape-circle circle-three"><%= link_to "Home", "index.html" %></li>
    </ul>
  </nav>

  <script type="text/javascript">
    clickNavbar();
  </script>
