  <!--HamBurger Icon-->
  <div class="bars" id="nav-action">
    <span class="bar"> </span>
  </div>
  <div class="top-navbar-background">
    <h2>John Haus - Full Stack Web Developer</h2>
  </div>
  <!--Navbar Links-->
  <nav id="nav">
    <ul>
      <li class="shape-circle circle-one"><a href="contact.html">Contact</a></li>
      <li class="shape-circle circle-two"><a href="about.html">About</a></li>
      <li class="shape-circle circle-three"><a href="/">Home</a></li>
    </ul>
  </nav>

  <script type="text/javascript">
    clickNavbar();
  </script>
