.footer {
  text-align: center;
  background-color: $dark-blue;
  padding: 10px;
}
.footer a {
  color: $white;
  &:hover {
    color: $light-blue;
    text-decoration: none;
  }
}
.footer-padding {
  padding-right: 5px;
  padding-left: 5px;
}
