.pages {
  height: 250vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  // background-image: linear-gradient(0deg, white 80%, #357FFD 20%);
  img {
    width: 150px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  }
  h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 0px;
    color: rgba(0,0,0,0.7);
  }
  h2 {
    font-size: 17px;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
  }
  a {
    color: rgba(0,0,0,0.25);
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 15px;
  }
  .fa-heart {
    color: #D23333;
  }
}

.top-navbar-background {
  z-index: +1;
  background-color: $dark-blue;
  height: 85px;
  width: 100%;
  position: fixed;
}

.website-image {
  height: 325px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 3px 3px 8px rgba(33,33,33,0.8);
  margin: 15px;
}
