.pages {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

h1 {
  font-size: 30px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 40px;
  margin: 35px;
  color: $dark-blue;
}

.website-image {
  height: 430px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 3px 3px 8px rgba(33,33,33,0.8);
  margin: 55px;
}

.border {
  border-bottom: 2px solid black;
}

.text-setup {
  margin: 35px;
  font-size: 20px;
  font-weight: bolder;
  color: $dark-blue;
}

.top-padding {
  padding-top: 80px;
}

.container {
  display: flex;
}

.contact-padding {
  padding: 6px;
}

input, textarea {
  width: 100%;
}

button {
  color: white;
  font-weight: bolder;
  background-color: orange;
  padding: 10px 50px;
  border-radius: 10px;
  &:hover {
    background-color: darkorange;
  }
}

.bottom-padding {
  padding-bottom: 50px;
}

.top-margin {
  margin-top: 40px;
}

.down-arrow {
  color: $dark-blue;
}

.contact-button {
  color: white;
  font-weight: bolder;
  background-color: orange;
  padding: 10px 50px;
  border-radius: 10px;
  &:hover {
    background-color: darkorange;
    text-decoration: none;
    color: white;
  }
}
