---
title: John Haus - About
---

<div class="pages top-padding">
  <div class="container">
    <div class="bottom-padding">
      <h1>About</h1>
      <p class="text-setup">
        2018 was the year I discovered my passion for programming. I began with a couple books from my local library and websites such as Codecademy. I was soon hooked, and found myself continually going back to learn more on the subject. Within a few months, I was convince that this was what I wanted for my career.
      </p>
      <p class="text-setup">
        So I packed up and left Minneapolis, USA and headed to Rio de Janeiro, Brazil, where I attended the Le Wagon programming bootcamp. There I learned all about web development including Ruby on Rails and programming as part of a team. It was hard work, and I frequently found myself coming in early or on weekends to get the next piece of code running or review something I didn’t understand from the week before. My work was rewarding though, and it was always exciting to get the next feature working or fix that difficult bug. In the end, all my efforts paid off, and I had several projects completed by the end of the bootcamp.
      </p>
      <p class="text-setup">
        After the course, I continued improving my programming skills, building among others this website you are reading now, as well as expanding my overall knowledge of web development. I am excited to begin my career as a professional web developer, and look forward to building great websites. So if you are looking for a professional and enthusiastic programmer to add to your team, reach out to me today and let’s start a conversation.
      </p>
      <a href="contact" class="contact-button ">Contact</a>
    </div>
    <div class="bottom-padding">
      <p class="text-setup">
        Want to learn more about me? Check out these links below.
      </p>
      <i class="fas fa-arrow-down fa-3x down-arrow"></i>
    </div>
  </div>
</div>
