---
title: John Haus - Full Stack Web Developer
---

<div class="top-navbar-background">
</div>
<div class="pages">
  <div class="container">
    <div class="row">
      <p>
        John Haus - Full Stack Web Developer.
      </p>
    </div>
    <div>
      <p>Projects</p>
      <div class="col-xs-10 col-sm-4">
        <div>project 1 and some other text stuff here</div>
        <div>project 2 and some other text stuff here</div>
        <div>project 3 and some other text stuff here</div>
      </div>
    </div>
  </div>
</div>

<!-- fix me then add me -->
    <hr align="center" background-color="black" width="90%">
