---
title: John Haus - Full Stack Web Developer
---

<div class="pages top-padding">
  <div class="container">
    <div class="row">
      <p class="text-setup">
        John Haus
      </p>
      <p class="text-setup">
        Full Stack Web Developer
      </p>
      <div class="border">
      </div>
    </div>
    <div class="row">
      <p class="text-setup">Take a look at some of my projects below</p>
      <div>
        <div>
          <% link_to 'https://restaurant-advisor.herokuapp.com' do %>
            <div class="website-image" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path "Restaurant-advisor.png" %>')">
            </div>
          <% end %>
        </div>
        <div>
          <% link_to 'https://caratapp.herokuapp.com' do %>
            <div class="website-image" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path "Caratapp.png" %>')">
            </div>
          <% end %>
        </div>
        <div>
          <% link_to 'https://beameup.herokuapp.com' do %>
            <div class="website-image" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path "Beameup.png" %>')">
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
