---
title: John Haus - Full Stack Web Developer
---

<div class="pages">
  <div class="container">
    <div class="row">
      <p>
        John Haus - Full Stack Web Developer.
      </p>
    </div>
    <div class="row">
      <p>Projects</p>
      <div>
        <div>
          <% link_to 'https://restaurant-advisor.herokuapp.com' do %>
            <div class="website-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "Restaurant-advisor.png" %>')">
            </div>
          <% end %>
        </div>
        <div>
          <% link_to 'https://caratapp.herokuapp.com' do %>
            <div class="website-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "Caratapp.png" %>')">
            </div>
          <% end %>
        </div>
        <div>
          <% link_to 'https://beameup.herokuapp.com' do %>
            <div class="website-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "Beameup.png" %>')">
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- fix me then add me -->
    <hr align="center" background-color="red" color="red" width="90%">
